<div class="container">
  <div class="row">
    <% trailshoes.forEach((trailshoe)=> { %>
      <div class="col-md-3 col-lg-3">
        <a href="/trailshoes/<%= trailshoe.id %>">
          <div class="image-responsive" style="background-image:url(<%= trailshoe.image %>)"></div>
        </a>
        <h2><%= trailshoe.brand %></h2>
        <h3><%= trailshoe.name %></h3>
        <p>
        <h4><%= trailshoe.shortDescription %></h4>
        </p>
        <p>
        <%= trailshoe.fullStars %>
        <%= trailshoe.emptyStars %>
        <div class="staroutline">
          <% var emptyStars = 5 - trailshoe.stars %>
          <% while(trailshoe.stars--) { %> &#9733 <% } %>
          <% while(emptyStars--) { %> &star; <% } %>
        </div>
        </p>
      </div>
      <% }) %>
    </div>
  </div>
