<div class="container">
  <div class="row">
    <% trailshoes.forEach((trailshoe)=> { %>
      <div class="col-md-6 col-lg-6">
        <a href="/trailshoes/<%= trailshoe.id %>">
          <img class="img-thumbnail" src="<%= trailshoe.image %>" alt="<% trailshoe.name %>"
          <h2><%= trailshoe.brand %></h2>
          <h2><%= trailshoe.name %></h2>
          <p><%= trailshoe.description %></p>
          <p><% while(trailshoe.stars--) { %> &star; <% } %></p>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
