<div class="container">
<form method="POST" action="/trailshoes/<%= trailshoe.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" value="<%= trailshoe.brand %>" required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= trailshoe.name %>" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3" required></textarea>
  </div>
  <div>
    <label for="stars">Stars (1-5)</label>
    <input type="number" name="stars" id="stars" min="1" max="5" value="<%= trailshoe.stars %>"required>
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" value="<%= trailshoe.image %>"required>
  </div>

  <button class="button">Update Trail Shoe</button>
</form>
</div>
