<div class="container">

<div class="col-md-12 col-lg-12">
  <% if(locals.isAuthenticated && trailshoe.belongsTo(user)) { %>
    <div class="option">
    <a href="/trailshoes/<%= trailshoe.id %>/edit" class="button">Edit</a>
    <form method="POST" action="/trailshoes/<%= trailshoe.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button alert">Delete</button>
    </form>
    </div>
  <% } %>

  <img src="<%= trailshoe.image %>" alt="<%= trailshoe.name%>">


  <div class="shoedetails">
    <h2><%= trailshoe.brand %></h2>
    <h3><%= trailshoe.name %></h3>
    <%= trailshoe.description %>
  </div>



  <div class="staroutline">
    <% var emptyStars = 5 - trailshoe.stars %>
    <% while(trailshoe.stars--) { %> &#9733 <% } %>
    <% while(emptyStars--) { %> &star; <% } %>
    <br>
    <small>Added by: <%= trailshoe.createdBy.username %></small>
  </div>


  <div class="commentsdiv">
      <h3>Comments</h3>
      <% trailshoe.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
        <small><%= comment.createdBy.username %></small>
      <% }) %>
  </div>


    <% if(locals.isAuthenticated) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/trailshoes/<%= trailshoe.id %>/comments">
    <textarea name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
    <button class="button">Submit</button>
    </form>
  </section>
    <% } %>
</div>
